<%- include('../partials/header'); %>

<body>
<h1>Index title</h1>

<form action="/" method="post">

  
  <select name="deputado" id="select">
    <option value="">-- Selecione --</option>  
    <% arrayDeputados.forEach((deputado)=>{ %>
        <option value="<%= JSON.stringify(deputado) %>"><%= deputado.nome %></option>
    <% })%>    
  </select>
  <button type="submit">Submit</button>
</form>

<img src="<%= deputado.urlFoto %>">
<ul>
<% cotaArr.forEach((obj)=>{ %>
  <%obj.forEach((item)=>{ %>
    <li><%= item.mes %> : <%= item.valorLiquido %> </li>
    <% }) %>
<%})%>
</ul>

<div id="news">
  <% arrayNews.forEach((obj)=>{ %>
    <div class="newsItem">
      <h1><%= obj.title %></h1>
      <h2><%= obj.source.name %></h2>
      <p><%= obj.description %></p>
    </div>
   <% })%>
</div>












  </body>
</html>
